<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/kiran-444/" style="i{ text-decoration: none;}"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/kiran-metri-9b3b48291/"><i class="fa-brands fa-square-linkedin"></i></a>
      <a href="https://www.instagram.com/kiran_metri_444/"><i class="fa-brands fa-instagram"></i></a>
      

      
      
      
    </div>
    <div class="f-info-brands">Wounderlust &copy; 2025</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>

<style>
/* Remove blue color and underline from all footer links */
footer a {
  color: #222222;      /* or any color you prefer */
  text-decoration: none;
}

footer a:hover {
  color: #fe424d;      /* optional: add hover color */
  text-decoration: underline;
}
</style>
